{{#each this.answersXML.answerXMList}}

	<div class="radio">
		<input type="radio" id="{{xmlId}}" name="{{../xmlId}}" value="{{xmlId}}" />
		<label for="{{xmlId}}">{{label}}</label>
	</div>

{{/each}}
