{{#each this.answersXML.answerXMList}}
	<label for="{{xmlId}}">{{label}}</label>
	<input type="text" id="{{xmlId}}" name="{{xmlId}}" class="{{properties.size}} {{properties.validation}}" />
{{/each}}
